<div class="wrapper">
  <div>Total Deposits: {{this.nTotalDeposits}}</div>
  <div>Total Users: {{this.nTotalUsers}}</div>
  <div>Months:
    <p *ngFor="let sMonth of asMonthEvents">
      {{getsNameByMonth(sMonth)}}: {{getnTotalDepositsByMonth(sMonth)}}
    </p>
  </div>
  <div class="wrapper__walletsBlock">
    <div class="wrapper__walletsBlock__type">
      <span class="wrapper__walletsBlock__type__text">Основные кошельки</span>
      <span class="wrapper__walletsBlock__type__btn" (click)="onAddMainWallet()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-lg"
           viewBox="0 0 16 16">
        <path fill-rule="evenodd"
              d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
      </svg>
    </span></div>
    <div class="wrapper__walletsBlock__item">
      <table style="width: 100%;">
        <thead>
        <tr>
          <td>Валюта (сеть)</td>
          <td>Кошелек</td>
          <td>Приватный ключ</td>
          <td></td>
          <td></td>
        </tr>
        </thead>
        <tbody *ngFor="let oMainWallet of aoMainWallets">
        <tr>
          <td>
            {{oMainWallet.sCurrency}} ({{oMainWallet.sNetwork}})
          </td>
          <td>
            {{oMainWallet.sWallet}}
          </td>
          <td>
            {{oMainWallet.sPrivateKey}}
          </td>
          <td>
            <div class="wrapper__walletsBlock__item__btn" (click)="onEditWallet(oMainWallet)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                   class="bi bi-pencil-fill" viewBox="0 0 16 16">
                <path
                  d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
              </svg>
            </div>
          </td>
          <td>
            <div class="wrapper__walletsBlock__item__btn" (click)="onDeleteWallet(oMainWallet)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                   class="bi bi-trash-fill" viewBox="0 0 16 16">
                <path
                  d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
              </svg>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="wrapper__walletsBlock">
    <div class="wrapper__walletsBlock__type">
      <span class="wrapper__walletsBlock__type__text">Шлюзовые кошельки</span>
      <span class="wrapper__walletsBlock__type__btn" (click)="onAddGatewayWallet()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-lg"
           viewBox="0 0 16 16">
        <path fill-rule="evenodd"
              d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
      </svg>
    </span></div>
    <div class="wrapper__walletsBlock__item">
      <table style="width: 100%;">
        <thead>
        <tr>
          <td>Валюта (сеть)</td>
          <td>Кошелек</td>
          <td>Приватный ключ</td>
          <td></td>
          <td></td>
        </tr>
        </thead>
        <tbody *ngFor="let oGatewayWallet of aoGatewayWallets">
        <tr>
          <td>
            {{oGatewayWallet.sCurrency}} ({{oGatewayWallet.sNetwork}})
          </td>
          <td>
            {{oGatewayWallet.sWallet}}
          </td>
          <td>
            {{oGatewayWallet.sPrivateKey}}
          </td>
          <td>
            <div class="wrapper__walletsBlock__item__btn" (click)="onEditWallet(oGatewayWallet)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                   class="bi bi-pencil-fill" viewBox="0 0 16 16">
                <path
                  d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
              </svg>
            </div>
          </td>
          <td>
            <div class="wrapper__walletsBlock__item__btn" (click)="onDeleteWallet(oGatewayWallet)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                   class="bi bi-trash-fill" viewBox="0 0 16 16">
                <path
                  d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
              </svg>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div *ngIf="bShowModal" class="blur" (click)="onCloseWalletModal()"></div>
<div *ngIf="bShowModal" class="modalWrapper">
  <div class="modalWrapper__block">
    <!--<label for="network">Сеть</label>
    <select id="network" [value]="oWalletForModal.sNetwork ? oWalletForModal.sNetwork : 'erc20'">
      <option value="erc20">ERC20</option>
      <option value="trc20">TRC20</option>
      <option value="bitcoin">Bitcoin</option>
    </select>-->

    <div class="modalWrapper__block__field">
      <label for="currency">Валюта: </label>
      <select id="currency" [(ngModel)]="oWalletForModal.sCurrency">
        <option value="USDT">USDT (TRC20)</option>
        <option value="ETH">ETH (ERC20)</option>
        <option value="Bitcoin">Bitcoin (Bitcoin)</option>
      </select>
    </div>

    <div class="modalWrapper__block__field">
      <label for="wallet">Кошелек: </label>
      <input id="wallet" type="text" [(ngModel)]="oWalletForModal.sWallet">
    </div>
    <div class="modalWrapper__block__field">
      <label for="prKey">Приватный ключ: </label>
      <input placeholder="Обязательное поле для шлюзовых кошельков"
             type="text"
             id="prKey" [(ngModel)]="oWalletForModal.sPrivateKey">
    </div>

    <div class="modalWrapper__block__btnBlock">
      <div class="modalWrapper__block__btnBlock__btn" (click)="onCloseWalletModal()">Отмена</div>
      <div class="modalWrapper__block__btnBlock__btn" (click)="onSaveWallet()">Сохранить</div>
    </div>
  </div>
</div>
