.usersList {
  display: flex;
  flex-direction: column;
  margin-top: 25px;

  &__searchUserWrapper {

    &__Btn {

    }

    &__input {

    }
  }

  &__ReloadBtn {
    cursor: pointer;
    border: 1px solid #000;
    background-color: #ccc;
    border-radius: 8px;
    padding: 8px 16px;
    width: fit-content;
    margin-bottom: 25px;
  }
}

table, th, td {
  border: 1px solid;
}

thead {
  background-color: #ccc;
}
